@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #0a0a0a;
  }
}

body, html {
  scroll-behavior: smooth;
  background-color: var(--background);
}
@keyframes slow-swing {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(2deg);
  }
}
.animate-float {
  animation: slow-swing 6s ease-in-out infinite;
}
.animate-float-delayed {
  animation: slow-swing 7s ease-in-out infinite;
  animation-delay: 1s;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 30s linear infinite;
}
.animate-scroll:hover {
  animation-play-state: paused;
}
